.main-container {
	display: flex;
	background-color: var(--gray-full);
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.profile-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;
	padding: 3rem;
	border-radius: 5px;
}

.profile-image {
	width: 64px;
	height: 64px;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.profile-name {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 0;
}

.location {
	font-size: 0.8rem;
	color: var(--neon);
	padding: 0;
	margin: 0;
	margin-bottom: 1rem;
}

.profile-bio {
	font-size: 0.8rem;
	opacity: 0.8;
	padding: 0;
	margin: 0;
}

.profile-bio::before {
	content: '"';
}

.profile-bio::after {
	content: '"';
}