:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--gray-full: #141414;
	--white-full: #ffffff;
	--card-background: #1f1f1f;
	--link-background: #333333;
	--neon: #c4f82a;
}

* {
	box-sizing: border-box;
}

html {
	background-color: var(--gray-full);
	color: var(--white-full);
}

body {
	margin: 0;
	padding: 0;
}

.card-background {
	background-color: var(--card-background);
}

.link-background {
	background-color: var(--link-background);
}

.neon {
	color: var(--neon);
}
